.header {
    padding: 5px 0;
    max-width: 1170px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-wrapper {
    flex-grow: 0.6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu-item {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #353540;
}

.header__login {
    background: #EE4F3C;
    border-radius: 10px;
    padding: 23px 80px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #fff;
    border: none;
}
.menu-burger {
    display: none;
}

@media (max-width: 880px) {
    .header {
        padding: 5px 33px;       
        display: block;
    }
    .header__login {
        padding: 16px 45px;
    }
}

@media (max-width: 590px) {
    .header {
        display: flex;
    }

    .header-wrapper {
        display: none;
    }
    .menu-burger-line {
        width: 60px;
    }
    .menu-burger {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}
