/* Hero section  */
.hero {
    background: url("../pic/banner.png");
    margin-bottom: 150px;
}

.hero-wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.hero-text {
    padding: 450px 0 70px 0;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.05em;
    color: #fff;
}

/* section about us  */
.about-us {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 200px;
}

.section-name {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 48px;
    line-height: 156%;
    letter-spacing: 0.05em;
    color: #353540;
}
.about-us__p {
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #000;
}

/* section pinbina */
.pinbina {
    display: flex;
    gap: 52px;
    margin-bottom: 106px;
    align-items: center;
}

.pinbina__left-side {
    max-width: 100%;
}

.pinbina__right-side {
    max-width: 50%;
}

.right-side__text {
    padding: 0 39px 17px 39px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #000;
    text-align: justify;
}

/*section catalog */
.catalog {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 250px));
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

/* section clients */
.clients p {
    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    letter-spacing: 0.05em;
    color: #000;
    margin-bottom: 50px;
    text-align: justify;
}

.clients__logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 30px;
    margin-bottom: 50px;
    
}

.clients__logo img {
    max-width: 150px;
}

#map {
    margin-bottom: 200px;
}

/* section offer  */
.offer-items {
    padding: 0 33px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 270px));
    gap: 15px;
    margin-bottom: 167px;
    justify-content: center;
}

.offer-name {
    margin-bottom: 32px;
}

.offer-item {
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 20px;
    width: 270px;
    height: 270px;
    padding: 26px 27px;

}

.offer-item:hover {
    border-color: transparent;
    box-shadow: 0 70px 70px 0 #eee;
    background: #fff;
    transition: 0.4s;
}

.offer-item-name {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #353540;
    margin-bottom: 16px;
}

.offer-item-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #353540;
}

/* section form */
.section-form {
    margin-bottom: 180px;
}

.form {
    background: #EE4F3C;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 37px;
    align-items: center;
    padding: 51px 0;
}

.form-name {
    font-weight: 700;
    font-size: 48px;
    letter-spacing: 0.02em;
    color: #fff;
}

.form input {
    width: 400px;
    padding: 25px 30px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-family);
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #5d5d61;
}

.form button {
    border-radius: 10px;
    padding: 13px 31px;
    background: #fff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.05em;
    color: #353540;
}

@media (max-width: 880px) {
    .hero {
        background: url("../pic/tablet-res-banner.png");
        margin-bottom: 100px;
    }
    
    .hero-text {
        padding: 310px 33px 69px 33px;
        font-size: 24px;
    }

    /* section about us  */
    .about-us {
        padding: 0 33px;
    }

    .pinbina {
        display: block;
        margin-bottom: 106px;
        padding: 0 33px;
    }
    .pinbina__right-side {
        max-width: 100%;
    }

    .right-side__text {
        padding: 0;
    }

    /*section catalog */
    .catalog {
        grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    }

    /* section clients */
    .clients {
        padding: 0 33px;
    }

    .clients__logo {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    /* section offer  */
    .offer-items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
        gap: 15px;
        margin-bottom: 167px;
        justify-content: center;
        justify-items: center;
    }

    /* section form */
    .section-form {
        margin: 0 33px;
        margin-bottom: 100px;
    }

    .form-name {

        font-size: 36px;
    }

    .form input {
        padding: 10px 15px;
        font-size: 16px;
    }

}

@media (max-width: 590px) {
    /* Hero section  */
    .hero {
        background: url("../pic/banner-phone.jpg");
        margin-bottom: 50px;
    }

    .hero-text {
        padding: 200px 33px 20px 33px;
        font-weight: 400;
        font-size: 20px;
    }

    /* section about us  */
    .about-us {
        margin-bottom: 100px;
    }
    .section-name {
        font-size: 36px;
    }
    .about-us__p {
        font-weight: 400;
        font-size: 20px;
    }

    /* section clients */

    .clients p {
        font-size: 20px;
    }

    .clients__logo img {
        max-width: 150px;
    }   

    /* section offer  */
    .offer {
        padding: 0 33px;
    }

    /* section form */
    .form {
        background: #EE4F3C;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 37px;
        align-items: center;
        padding: 51px 0;
    }
    
    .form-name {
        font-size: 36px;
        text-align: center;
    }
    
    .form input {
        width: 250px;
    }
}






